{% extends "base.html" %}
{% block content %}
<h2 style="margin:20px; font-size:50px; text-align: center;">More Powerful tools</h2>
<div class="options">
    <a href="#" class="border border-dark p-2 my-5">Dork-generator</a>
    <a href="#" class="border border-dark p-2 my-2">Number lookup</a>
    <a href="#" class="border border-dark p-2 my-2">Text replacement</a>
</div>
<form method="post" class="d-inline-flex ">
    <div class="list ">
        <h3 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">More Tools</h3>
        <ul class="list-group ml-4 font-weight-bold ">
            <a href="/reverse-words"><li class="list-group-item border border-dark bg-warning">Reverse Text</li></a>
            <a href="/text-replacement"><li class="list-group-item border border-dark bg-warning">Text Replacement </li></a>
            <a href="/word-counter"><li class="list-group-item border border-dark bg-warning">Word Counter</li></a>
            <a href="/random-word"><li class="list-group-item border border-dark bg-warning">Text Randomizer</li></a>
            <a href="#"><li class="list-group-item border border-dark bg-warning">Text Comparison</li></a>
            <a href="#"><li class="list-group-item border border-dark bg-warning">Text Pallindrome Checker</li></a>
            <a href="#"><li class="list-group-item border border-dark bg-warning">Text Translator</li></a>
            <a href="#"><li class="list-group-item border border-dark bg-warning">Text Emoji Converter</li></a>
        </ul>
    </div>
    <div class="input p-4">
        <div class="heading">
            <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Text Replacement
            </h1>
        </div>
        <div class="text-box">
            <div class="lable font-italic font-weight-bold">
                <label>Input data</label>
            </div>
            <textarea rows="10" cols="60" name="input_data" class="border border-dark "></textarea>
        </div>
        <div class="d-inline-flex">
            <div class="find-text my-3">
                <input type="text" name="find" class="border border-dark m-2" placeholder="Find" required>
            </div>
            <div class="find-text my-3 text-center">
                <input type="text" name="replace" class="border border-dark m-2" placeholder="Replace with" required>
            </div>
        </div>
        <div class="row mx-3 my-2 ">
            <input type="submit"
                class="border border-dark text-light rounded bg-success p-1 col-4 font-italic font-weight-bold"
                value="Submit">
        </div>

    </div>

    <div class="text-box output" style="margin-top:80px;margin-right: 20px;">
        <div class="lable font-italic font-weight-bold ">
            <label>Output</label>
        </div>
        <textarea rows="10" cols="60" name="output" class="border border-dark " readonly>{{ data }}</textarea>
    </div>


</form>
<div class="about p-5">
    <div class="heading border border-success  bg-success text-light p-1 font-weight-bold">
        <h3 style="font-size:20px; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-left:20px;">About Reverse
            words tool</h3>
    </div>
    <div class="paragraph border border-success ">
        <p class="p-2" style="text-align: justify; font-size: 20px; margin: 10px; ">
            A Text Replacement tool is a software feature that allows users to automatically
            substitute specific text snippets with predefined alternatives, streamlining the
            writing process and enhancing efficiency. To use this tool, you first need to select
            one,either a built-in feature in your operating system or a third-party application.
            Once you have your tool, you can set up replacements by defining a trigger text
            (like "hacker's") and the corresponding replacement text (such as "hacker").
            After saving your changes, the tool will automatically replace the trigger text with the
            specified alternative whenever you type it in any application. This not only saves time but also helps
            maintain consistency and professionalism in your writing. Additionally, you can manage your replacements by
            editing or deleting them as needed, ensuring that your text remains accurate and relevant. By incorporating
            a Text Replacement tool into your workflow, you can significantly improve your writing efficiency and the
            overall quality of your content. A Text Replacement tool is a software feature that allows users to
            automatically substitute specific text snippets with predefined alternatives, streamlining the writing
            process and enhancing efficiency. To use this tool, you first need to select one, either a built-in feature
            in your operating system or a third-party application. Once you have your tool, you can set up replacements
            by defining a trigger text (like "hacker's") and the corresponding replacement text (such as "hacker").
            After saving your changes, the tool will automatically replace the trigger text with the specified
            alternative whenever you type it in any application. This not only saves time but also helps maintain
            consistency and professionalism in your writing. Additionally, you can manage your replacements by editing
            or deleting them as needed, ensuring that your text remains accurate and relevant. By incorporating a Text
            Replacement tool into your workflow, you can significantly improve your writing efficiency and the overall
            quality of your content.
        </p>
    </div>
</div>

{% endblock %}